In [1]:
import pandas as pd
import numpy as np

import dask
import dask.dataframe as dd
from dask.delayed import delayed

In [ ]:
parts = dask.delayed(pd.read_csv)("data_jogos_quina.csv")
quina = dd.from_delayed(parts)

In [9]:
quina.compute()

,Unnamed: 0,jogos_ordenados,soma_jogos,media_jogos,desvio_padrao_jogos,entre_1_e_15,entre_16_e_31,entre_32_e_47,entre_48_e_63,entre_64_e_80,qtd_primos,qtd_fibonacci,qtd_fibonacci_primo,qtd_numeros_pares,qtd_numeros_impares,qtd_divisivel_tres
0,0,"[1, 2, 3, 4, 5]",15,3,1,5,0,0,0,0,4,4,4,2,3,1
1,1,"[1, 2, 3, 4, 6]",16,3,1,4,1,0,0,0,3,3,3,3,2,2
2,2,"[1, 2, 3, 4, 7]",17,3,2,4,1,0,0,0,4,3,3,2,3,1
3,3,"[1, 2, 3, 4, 8]",18,3,2,4,1,0,0,0,3,4,3,3,2,1
4,4,"[1, 2, 3, 4, 9]",19,3,2,4,1,0,0,0,3,3,3,2,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24040011,24040011,"[75, 76, 77, 78, 80]",386,77,1,0,0,0,0,0,0,0,0,3,2,2
24040012,24040012,"[75, 76, 77, 79, 80]",387,77,1,0,0,0,0,0,1,0,0,2,3,1
24040013,24040013,"[75, 76, 78, 79, 80]",388,77,1,0,0,0,0,0,1,0,0,3,2,2
24040014,24040014,"[75, 77, 78, 79, 80]",389,77,1,0,0,0,0,0,1,0,0,2,3,2
24040015,24040015,"[76, 77, 78, 79, 80]",390,78,1,0,0,0,0,0,1,0,0,3,2,1

In [ ]:
%%time
def resultado_jogo(soma: int, media: int, desvio_padrao: int, entre_1_5: int, entre_6_10: int, 
                   entre_11_15: int, entre_16_20: int, entre_21_25: int, 
                   primos: int, fibonacci: int, primos_fibo: int, pares: int, impares: int, divisivel_3: int,
                   sem_sair_sum: int):
    return ([soma, media, desvio_padrao, entre_1_5, entre_6_10, entre_11_15, entre_16_20, entre_21_25,
             primos, fibonacci, primos_fibo, pares, impares, divisivel_3, sem_sair_sum])

quina['resultados'] = list(map(resultado_jogo, quina['soma_jogos'], quina['media_jogos'], 
                                   quina['desvio_padrao_jogos'],
                              quina['entre_1_e_15'], quina['qtd_primos'],
                              quina['qtd_fibonacci'], quina['qtd_fibonacci_primo'],
                                   quina['qtd_numeros_pares'],
                               quina['qtd_divisivel_tres'], 
                                   quina['sorteio_sem_sair_resultados_sum'], quina['diferenca_entre_bolas_sum'],
                              quina['diferenca_entre_bolas_mean'],quina['diferenca_entre_bolas_std']))