In [1]:
import pandas as pd
import numpy as np

In [87]:
lotofacil = pd.read_excel("lotofacil.xlsx")
lotofacil = lotofacil.sort_values(by='Concurso', ascending=True).reset_index(drop=True)

columns_names = ['Concurso', 'Data', 'bola_1', 'bola_2', 'bola_3', 'bola_4', 'bola_5',
       'bola_6', 'bola_7', 'bola_8', 'bola_9', 'bola_10', 'bola_11', 'bola_12',
       'bola_13', 'bola_14', 'bola_15']
lotofacil.columns = columns_names

In [88]:
# colocar o numero do concurso -1 a menos do que se quer calcular
#lotofacil = lotofacil.iloc[:2250]
lotofacil

,Concurso,Data,bola_1,bola_2,bola_3,bola_4,bola_5,bola_6,bola_7,bola_8,bola_9,bola_10,bola_11,bola_12,bola_13,bola_14,bola_15
0,1,29/09/2003,18,20,25,23,10,11,24,14,6,2,13,9,5,16,3
1,2,06/10/2003,23,15,5,4,12,16,20,6,11,19,24,1,9,13,7
2,3,13/10/2003,20,23,12,8,6,1,7,11,14,4,16,10,9,17,24
3,4,20/10/2003,16,5,25,24,23,8,12,2,17,18,1,10,4,19,13
4,5,27/10/2003,15,13,20,2,11,24,9,16,4,23,25,12,8,19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2246,2247,04/06/2021,7,6,10,19,17,9,3,12,1,24,22,25,18,8,20
2247,2248,05/06/2021,13,17,23,14,10,2,16,11,4,8,25,1,6,7,12
2248,2249,07/06/2021,11,6,24,21,14,12,19,16,17,15,23,25,2,18,22
2249,2250,08/06/2021,12,10,13,14,6,18,4,23,20,19,5,25,22,24,21
2250,2251,09/06/2021,13,9,24,21,14,2,22,18,4,23,7,12,5,15,19

In [5]:
%%time

# Faz umas estatÃ­sticas com as bolas (ordena, manÃ©m resultado, soma, mÃ©dia e desvio padrÃ£o)
def jogos_ordenados(bola_1: int, bola_2: int, bola_3: int, bola_4: int, bola_5: int, bola_6: int,
          bola_7: int, bola_8: int, bola_9: int, bola_10: int, bola_11: int, bola_12: int, 
          bola_13: int, bola_14: int, bola_15: int, ) -> list:
    """Retorna os 15 numeros do resultado da lotofacil, ordenados"""
    return sorted([bola_1, bola_2, bola_3, bola_4, bola_5, bola_6, 
                   bola_7, bola_8, bola_9, bola_10, bola_11, bola_12,
                   bola_13, bola_14, bola_15])

def jogos_desordenados(bola_1: int, bola_2: int, bola_3: int, bola_4: int, bola_5: int, bola_6: int,
          bola_7: int, bola_8: int, bola_9: int, bola_10: int, bola_11: int, bola_12: int, 
          bola_13: int, bola_14: int, bola_15: int, ) -> list:
    """Retorna os 15 numeros do resultado da lotofacil, desordenados"""
    return  ([bola_1, bola_2, bola_3, bola_4, bola_5, bola_6, 
                   bola_7, bola_8, bola_9, bola_10, bola_11, bola_12,
                   bola_13, bola_14, bola_15])

def  soma_jogos(lista: list) -> int:
    """ retorna soma dos jogos """
    return sum(lista)

def  media_jogos(lista: list) -> int:
    """ retorna media dos jogos """
    return int(np.mean(lista))

def  desvio_padrao_jogos(lista: list) -> int:
    """ retorna desvio padrao dos jogos """
    return int(np.std(lista))

# Separa entre em categorias: Bolas entre 1 e 5, Bolas entre 6 e 10, Bolas entre 11 e 15, etc  
def entre_numeros(df: pd.DataFrame, primeiro: int, segundo: int, coluna_nova: str):
    """ conta os numeros das bolas entre 1 e 5, 11 e 20 e etc.. """
    contador = 0
    lista_numeros = []
    for jogo in df['jogos_ordenados']:
        for bola in jogo:
            if bola >= primeiro and bola <= segundo:
                contador += 1
        lista_numeros.append(contador)
        contador = 0
    df[coluna_nova] = lista_numeros
    

def contar_bolas(df: pd.DataFrame, qtd_jogos):
    """ conta os numeros de todas as bolas por jogo e faz a coluna """
    for bola in range(1, 26):
        contador = 0
        lista_numeros = [0 for i in range(len(df) - qtd_jogos)]
        for jogo in df.iloc[-qtd_jogos:, :]['jogos_ordenados']:
            if bola in jogo:
                contador += 1
            lista_numeros.append(contador)
        coluna_nova = "bola_" + str(bola) + "_sorteio" 
        df[coluna_nova] = lista_numeros


# Numero de sorteios em que a bola ficou sem sair
def sorteios_sem_sair_bola(df: pd.DataFrame):
    """ conta o numero de jogos que as bolas ficaram sem ser sorteadas """
    for bola in range(1, 26):
        jogo = 0
        soma = 0
        lista_numeros = []
        for linha in range(len(df['jogos_ordenados'])):
            if bola in df['jogos_ordenados'][linha]:
                jogo = linha
            soma = df['Concurso'].iloc[linha] - df['Concurso'].iloc[jogo] 
            lista_numeros.append(soma)
        coluna_nova = "bola_" + str(bola) + "_jogos_sem_sorteio" 
        df[coluna_nova] = lista_numeros
    

# Coloca em uma lista os numeros de sorteios em que a bola ficou sem sair
def resultado_sorteios_sem_sair_bola(df: pd.DataFrame) -> list:
    """ adiciona a qtd de sorteios que cada bola ficou sem ser sorteada em uma lista """
    lista_jogos = [0]
    for linha in range(1, len(df['jogos_ordenados'])):    
        lista_bolas = []
        for bola in range(1, 26):
            if bola in df['jogos_ordenados'][linha]:
                lista_bolas.append(df["bola_" + str(bola) + "_jogos_sem_sorteio"].iloc[linha-1]) 
        lista_jogos.append(lista_bolas)
    coluna_nova = 'sorteio_sem_sair_resultados'
    #print(lista_jo)
    df[coluna_nova] = lista_jogos


# Faz estatisticas de soma, media e desvio padrao das bolas que nÃ£o saÃ­ram nos ultimos jogos
def soma_jogos_sem_sair(lista: list) -> int:
    """ retorna soma dos jogos """
    if lista == 0:
        pass
    else:
        return sum(lista)

def media_jogos_sem_sair(lista: list) -> int:
    """ retorna media dos jogos """
    if lista == 0:
        pass
    else:
        return round(np.mean(lista), 2)

def desvio_padrao_jogos_sem_sair(lista: list) -> int:
    """ retorna desvio padrao dos jogos """
    if lista == 0:
        pass
    else:
        return round(np.std(lista), 2)

# Quantidade de Numeros Primos,  de Fibonnacci, de Primo com Fibonnaci por Jogo, Pares, Impares e DivisÃ­veis por 3.
def numeros_primos(df: pd.DataFrame):
    """ faz uma coluna com a quantidade de numeros primos por jogo"""
    primos = [1,2,3,5,7,11,13,17,19,23]
    qtd_primos = []
    for jogo in df['jogos_ordenados']:
        contador = 0
        for bola in jogo:
            if bola in primos:
                contador += 1
        qtd_primos.append(contador)
    df['qtd_primos'] = qtd_primos


def numeros_fibonacci(df: pd.DataFrame):
    """ faz uma coluna com a quantidade de numeros de fibonacci por jogo"""
    fibonacci = [1, 2, 3, 5, 8, 13, 21]
    qtd_fibonacci = []
    for jogo in df['jogos_ordenados']:
        contador = 0
        for bola in jogo:
            if bola in fibonacci:
                contador += 1
        qtd_fibonacci.append(contador)
    df['qtd_fibonacci'] = qtd_fibonacci


def numeros_fibonacci_e_primo(df: pd.DataFrame):
    """ faz uma coluna com a quantidade de numeros de fibonacci e primos por jogo"""
    fibonacci_primo = [1, 2, 3, 5,13]
    qtd_fibonacci_primo = []
    for jogo in df['jogos_ordenados']:
        contador = 0
        for bola in jogo:
            if bola in fibonacci_primo:
                contador += 1
        qtd_fibonacci_primo.append(contador)
    df['qtd_fibonacci_primo'] = qtd_fibonacci_primo


def pares_impares(df: pd.DataFrame):
    """ cria 2 colunas com as quantidades de numeros pares e impares por jogo"""
    pares = []
    impares = []
    for jogo in df['jogos_ordenados']:
        contador_par = 0
        contador_impar = 0
        for bola in jogo:
            if bola % 2 == 0:
                contador_par += 1
            else:
                contador_impar += 1
        pares.append(contador_par)
        impares.append(contador_impar)
    df['qtd_numeros_pares'] = pares
    df['qtd_numeros_impares'] = impares


def divisivel_por_tres(df: pd.DataFrame):
    """ cria coluna com a quantidade de numeros divisiveis por 3"""
    divisivel_tres = []
    for jogo in df['jogos_ordenados']:
        contador = 0
        for bola in jogo:
            if bola % 3 == 0:
                contador += 1
        divisivel_tres.append(contador)
    df['qtd_divisivel_tres'] = divisivel_tres


# Agrega todas as estatÃ­sticas anteriores em uma coluna sÃ³
def resultado_jogo(soma: int, media: int, desvio_padrao: int, entre_1_5: int, entre_6_10: int, 
                   entre_11_15: int, entre_16_20: int, entre_21_25: int, 
                   primos: int, fibonacci: int, primos_fibo: int, pares: int, impares: int, divisivel_3: int,
                   sem_sair_sum: int):
    
    return ([soma, media, desvio_padrao, entre_1_5, entre_6_10, entre_11_15, entre_16_20, entre_21_25,
             primos, fibonacci, primos_fibo, pares, impares, divisivel_3, sem_sair_sum])

# ------------------------- calls
# faz a lista dos jogos
lotofacil['jogos_ordenados'] = list(map(jogos_ordenados, lotofacil['bola_1'], lotofacil['bola_2'], lotofacil['bola_3'],
                              lotofacil['bola_4'], lotofacil['bola_5'], lotofacil['bola_6'],
                              lotofacil['bola_7'], lotofacil['bola_8'], lotofacil['bola_9'],
                              lotofacil['bola_10'], lotofacil['bola_11'], lotofacil['bola_12'],
                              lotofacil['bola_13'], lotofacil['bola_14'], lotofacil['bola_15']))

lotofacil['jogos_desordenados'] = list(map(jogos_desordenados, lotofacil['bola_1'], lotofacil['bola_2'], lotofacil['bola_3'],
                              lotofacil['bola_4'], lotofacil['bola_5'], lotofacil['bola_6'],
                              lotofacil['bola_7'], lotofacil['bola_8'], lotofacil['bola_9'],
                              lotofacil['bola_10'], lotofacil['bola_11'], lotofacil['bola_12'],
                              lotofacil['bola_13'], lotofacil['bola_14'], lotofacil['bola_15'])) 

# faz a soma dos jogos e deixa um inteiro
lotofacil['soma_jogos'] = list(map(soma_jogos, lotofacil['jogos_ordenados']))
# faz a mÃ©dia dos jogos e deixa um inteiro
lotofacil['media_jogos'] = list(map(media_jogos, lotofacil['jogos_ordenados']))
# faz o desvio padrÃ£o dos jogos
lotofacil['desvio_padrao_jogos'] = list(map(desvio_padrao_jogos, lotofacil['jogos_ordenados']))

lotofacil = lotofacil.drop(['bola_1', 'bola_2', 'bola_3', 'bola_4', 'bola_5', 'bola_6', 'bola_7',
                            'bola_8', 'bola_9', 'bola_10', 'bola_11', 'bola_12',
                            'bola_13', 'bola_14', 'bola_15'], axis=1)
entre_numeros(lotofacil, 1, 5, "entre_1_e_5")
entre_numeros(lotofacil, 6, 10, "entre_6_e_10")
entre_numeros(lotofacil, 11, 15, "entre_11_e_15")
entre_numeros(lotofacil, 16, 20, "entre_16_e_20")
entre_numeros(lotofacil, 21, 25, "entre_21_e_25") 

# Quantas vezes cada bola saiu nos ultimos 300 jogos
qtd_jogos = 300

contar_bolas(lotofacil, qtd_jogos)
sorteios_sem_sair_bola(lotofacil)
resultado_sorteios_sem_sair_bola(lotofacil)
lotofacil['sorteio_sem_sair_resultados_sum'] = list(map(soma_jogos_sem_sair, 
                                                        lotofacil['sorteio_sem_sair_resultados']))
lotofacil['sorteio_sem_sair_resultados_mean'] = list(map(media_jogos_sem_sair, 
                                                        lotofacil['sorteio_sem_sair_resultados']))
lotofacil['sorteio_sem_sair_resultados_std'] = list(map(desvio_padrao_jogos_sem_sair, 
                                                        lotofacil['sorteio_sem_sair_resultados']))
numeros_primos(lotofacil)
numeros_fibonacci(lotofacil)
numeros_fibonacci_e_primo(lotofacil)
pares_impares(lotofacil)
divisivel_por_tres(lotofacil)

lotofacil['resultados'] = list(map(resultado_jogo, lotofacil['soma_jogos'], lotofacil['media_jogos'], 
                                   lotofacil['desvio_padrao_jogos'],
                              lotofacil['entre_1_e_5'], lotofacil['entre_6_e_10'], lotofacil['entre_11_e_15'],
                              lotofacil['entre_16_e_20'], lotofacil['entre_21_e_25'], lotofacil['qtd_primos'],
                              lotofacil['qtd_fibonacci'], lotofacil['qtd_fibonacci_primo'],
                                   lotofacil['qtd_numeros_pares'],
                              lotofacil['qtd_numeros_impares'], lotofacil['qtd_divisivel_tres'], 
                                   lotofacil['sorteio_sem_sair_resultados_sum']))

<timed exec>:191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<timed exec>:197: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<timed exec>:204: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<timed exec>:206: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<timed exec>:208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

CPU times: user 2.86 s, sys: 19.6 ms, total: 2.88 s
Wall time: 2.92 s

In [6]:
data_jogos = pd.read_csv("todos_jogos_stats.csv")
data_jogos = data_jogos.drop(['Unnamed: 0'], axis=1)

In [7]:
%%time
# MODIFICAÃ‡ÃƒO CHECAR VERACIDADE
def resultado_sorteios_sem_sair_bola_2(df: pd.DataFrame, df_2: pd.DataFrame) -> list:
    """ adiciona a qtd de sorteios que cada bola ficou sem ser sorteada em uma lista """
    lista_jogos = []
    for linha in range(len(df_2['jogos_ordenados'])):    
        lista_bolas = []
        linha_modificada = df_2['jogos_ordenados'][linha].replace("[", "").replace("]", "").replace(" ", "").split(",")    
        linha_modificada = [int(i) for i in linha_modificada]
        for bola in linha_modificada:#df_2['jogos_ordenados'][linha]:   
            lista_bolas.append(df["bola_" + str(bola) + "_jogos_sem_sorteio"].iloc[-1]) 
        lista_jogos.append(lista_bolas)
    coluna_nova = 'sorteio_sem_sair_resultados'
    df_2[coluna_nova] = lista_jogos

resultado_sorteios_sem_sair_bola_2(lotofacil, data_jogos)

CPU times: user 12min 15s, sys: 4.36 s, total: 12min 19s
Wall time: 12min 26s

In [8]:
%%time
data_jogos['sorteio_sem_sair_resultados_sum'] = data_jogos['sorteio_sem_sair_resultados'].map(soma_jogos_sem_sair)
data_jogos['sorteio_sem_sair_resultados_mean'] = data_jogos['sorteio_sem_sair_resultados'].map(media_jogos_sem_sair)
data_jogos['sorteio_sem_sair_resultados_std'] = data_jogos['sorteio_sem_sair_resultados'].map(desvio_padrao_jogos_sem_sair)

CPU times: user 6min 50s, sys: 3.32 s, total: 6min 54s
Wall time: 7min 1s

In [9]:
data_jogos['sorteio_sem_sair_resultados_sum'].value_counts()

10    520325
11    501215
9     452920
12    416988
8     351260
13    301730
7     228865
14    170885
6     127505
15     79365
5      60508
16     25025
4      21840
3       6155
17      3003
2       1095
1         75
0          1
Name: sorteio_sem_sair_resultados_sum, dtype: int64

In [10]:
data_jogos['sorteio_sem_sair_resultados_mean'].value_counts()

0.67    520325
0.73    501215
0.60    452920
0.80    416988
0.53    351260
0.87    301730
0.47    228865
0.93    170885
0.40    127505
1.00     79365
0.33     60508
1.07     25025
0.27     21840
0.20      6155
1.13      3003
0.13      1095
0.07        75
0.00         1
Name: sorteio_sem_sair_resultados_mean, dtype: int64

In [11]:
data_jogos['sorteio_sem_sair_resultados_std'].value_counts()

0.88    425880
0.94    300300
1.06    271700
0.93    203060
1.09    194415
0.95    180180
0.72    165165
1.11    150150
0.98    128700
1.12    109395
0.96    108030
1.00    106535
1.05     96525
1.07     90090
0.80     77805
0.81     76895
1.02     71098
1.10     64350
0.71     60255
1.01     55055
0.61     45045
0.79     41275
0.60     40950
0.87     39240
0.91     38610
1.15     25025
1.08     20475
1.03     15015
0.62     15015
0.57     13650
0.77      7485
0.44      6825
0.70      6825
0.40      4550
1.14      4095
0.47      3003
1.17      3003
0.54      1575
0.34      1050
0.68       315
0.25        75
0.50        45
0.75        30
0.00         1
Name: sorteio_sem_sair_resultados_std, dtype: int64

In [12]:
lotofacil.iloc[-5:]

,Concurso,Data,jogos_ordenados,jogos_desordenados,soma_jogos,media_jogos,desvio_padrao_jogos,entre_1_e_5,entre_6_e_10,entre_11_e_15,...,sorteio_sem_sair_resultados_sum,sorteio_sem_sair_resultados_mean,sorteio_sem_sair_resultados_std,qtd_primos,qtd_fibonacci,qtd_fibonacci_primo,qtd_numeros_pares,qtd_numeros_impares,qtd_divisivel_tres,resultados
2245,2246,02/06/2021,"[2, 3, 4, 5, 7, 8, 10, 11, 12, 13, 14, 15, 18,...","[10, 2, 5, 3, 7, 14, 18, 20, 25, 12, 15, 13, 8...",167,11,6,4,3,5,...,12.0,0.80,1.05,6,5,4,8,7,4,"[167, 11, 6, 4, 3, 5, 2, 1, 6, 5, 4, 8, 7, 4, ..."
2246,2247,04/06/2021,"[1, 3, 6, 7, 8, 9, 10, 12, 17, 18, 19, 20, 22,...","[7, 6, 10, 19, 17, 9, 3, 12, 1, 24, 22, 25, 18...",201,13,7,2,5,1,...,12.0,0.80,1.05,5,3,2,8,7,6,"[201, 13, 7, 2, 5, 1, 4, 3, 5, 3, 2, 8, 7, 6, ..."
2247,2248,05/06/2021,"[1, 2, 4, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17,...","[13, 17, 23, 14, 10, 2, 16, 11, 4, 8, 25, 1, 6...",169,11,6,3,4,4,...,9.0,0.60,0.71,7,4,3,8,7,2,"[169, 11, 6, 3, 4, 4, 2, 2, 7, 4, 3, 8, 7, 2, ..."
2248,2249,07/06/2021,"[2, 6, 11, 12, 14, 15, 16, 17, 18, 19, 21, 22,...","[11, 6, 24, 21, 14, 12, 19, 16, 17, 15, 23, 25...",245,16,6,1,1,4,...,9.0,0.60,0.88,5,2,1,8,7,6,"[245, 16, 6, 1, 1, 4, 4, 5, 5, 2, 1, 8, 7, 6, ..."
2249,2250,08/06/2021,"[4, 5, 6, 10, 12, 13, 14, 18, 19, 20, 21, 22, ...","[12, 10, 13, 14, 6, 18, 4, 23, 20, 19, 5, 25, ...",236,15,6,2,2,3,...,8.0,0.53,0.88,4,3,2,9,6,5,"[236, 15, 6, 2, 2, 3, 3, 5, 4, 3, 2, 9, 6, 5, ..."

In [13]:
#concurso 2251
resultado = [2, 4, 5, 7, 9, 12, 13, 14, 15, 18, 19, 21, 22, 23, 24] 
def achar_resultado(df, resultado):
    counter = 0
    
    for i in data_jogos['jogos_ordenados']:
        linha_modificada = i.replace("[", "").replace("]", "").replace(" ", "").split(",")    
        i = [int(i) for i in linha_modificada]
        if i == resultado:
            print(i)
            print(counter)
            return counter
        counter += 1
        
index_resultado = achar_resultado(data_jogos, resultado)
print(data_jogos.loc[index_resultado]['jogos_ordenados'])
data_jogos.loc[index_resultado]

[2, 4, 5, 7, 9, 12, 13, 14, 15, 18, 19, 21, 22, 23, 24]
2560905
[2, 4, 5, 7, 9, 12, 13, 14, 15, 18, 19, 21, 22, 23, 24]

jogos_ordenados                     [2, 4, 5, 7, 9, 12, 13, 14, 15, 18, 19, 21, 22...
soma_jogos                                                                        208
media_jogos                                                                        13
desvio_padrao_jogos                                                                 7
entre_1_e_5                                                                         3
entre_6_e_10                                                                        2
entre_11_e_15                                                                       4
entre_16_e_20                                                                       2
entre_21_e_25                                                                       4
qtd_primos                                                                          6
qtd_fibonacci                                                                       4
qtd_fibonacci_primo                                                                 3
qtd_numeros_pares                                                                   7
qtd_numeros_impares                                                                 8
qtd_divisivel_tres                                                                  6
sorteio_sem_sair_resultados             [1, 0, 0, 2, 3, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0]
sorteio_sem_sair_resultados_sum                                                     7
sorteio_sem_sair_resultados_mean                                                 0.47
sorteio_sem_sair_resultados_std                                                  0.88
resultados                           [208, 13, 7, 3, 2, 4, 2, 4, 6, 4, 3, 7, 8, 6, 8]
Name: 2560905, dtype: object

In [59]:
# possibilidades_df = data_jogos[(data_jogos['sorteio_sem_sair_resultados_sum'] == 12) & 
#                             (data_jogos['sorteio_sem_sair_resultados_mean'] == 0.8) &
#                             (data_jogos['sorteio_sem_sair_resultados_std'] == 1.05)]

# possibilidades_df = data_jogos[(data_jogos['sorteio_sem_sair_resultados_sum'] == 7 ) |
#                                (data_jogos['sorteio_sem_sair_resultados_sum'] == 8) |
#                                (data_jogos['sorteio_sem_sair_resultados_sum'] == 9) |
#                                (data_jogos['sorteio_sem_sair_resultados_mean'] == 0.47) |
#                                (data_jogos['sorteio_sem_sair_resultados_mean'] == 0.53) |
#                                (data_jogos['sorteio_sem_sair_resultados_mean'] == 0.60) |
#                                (data_jogos['sorteio_sem_sair_resultados_std'] == 0.62) |
#                                (data_jogos['sorteio_sem_sair_resultados_std'] == 0.71) |
#                                (data_jogos['sorteio_sem_sair_resultados_std'] == 0.72)]


possibilidades_df = data_jogos[(data_jogos['sorteio_sem_sair_resultados_std'] == 0.88)]

In [16]:
for i in possibilidades_df['jogos_ordenados']:
    linha_modificada = i.replace("[", "").replace("]", "").replace(" ", "").split(",")    
    i = [int(i) for i in linha_modificada]
    if i == resultado:
        print(True)

True

In [17]:
#possibilidades_df[(possibilidades_df['soma_jogos'] > 195) & (possibilidades_df['soma_jogos'] < 205)]
#possibilidades_df[(possibilidades_df['soma_jogos'] == 245)]
possibilidades_df

,jogos_ordenados,soma_jogos,media_jogos,desvio_padrao_jogos,entre_1_e_5,entre_6_e_10,entre_11_e_15,entre_16_e_20,entre_21_e_25,qtd_primos,qtd_fibonacci,qtd_fibonacci_primo,qtd_numeros_pares,qtd_numeros_impares,qtd_divisivel_tres,sorteio_sem_sair_resultados,sorteio_sem_sair_resultados_sum,sorteio_sem_sair_resultados_mean,sorteio_sem_sair_resultados_std,resultados
80946,"[1, 2, 3, 4, 5, 6, 10, 11, 12, 13, 14, 15, 16,...",149,9,5,5,2,5,3,0,7,5,5,8,7,5,"[2, 1, 3, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0]",9,0.60,0.88,"[149, 9, 5, 5, 2, 5, 3, 0, 7, 5, 5, 8, 7, 5, 9]"
80947,"[1, 2, 3, 4, 5, 6, 10, 11, 12, 13, 14, 15, 16,...",150,10,5,5,2,5,3,0,6,5,5,9,6,5,"[2, 1, 3, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0]",9,0.60,0.88,"[150, 10, 5, 5, 2, 5, 3, 0, 6, 5, 5, 9, 6, 5, 11]"
80948,"[1, 2, 3, 4, 5, 6, 10, 11, 12, 13, 14, 15, 16,...",151,10,6,5,2,5,2,1,6,6,5,8,7,6,"[2, 1, 3, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0]",9,0.60,0.88,"[151, 10, 6, 5, 2, 5, 2, 1, 6, 6, 5, 8, 7, 6, 9]"
80949,"[1, 2, 3, 4, 5, 6, 10, 11, 12, 13, 14, 15, 16,...",152,10,6,5,2,5,2,1,6,5,5,9,6,5,"[2, 1, 3, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0]",9,0.60,0.88,"[152, 10, 6, 5, 2, 5, 2, 1, 6, 5, 5, 9, 6, 5, 9]"
80950,"[1, 2, 3, 4, 5, 6, 10, 11, 12, 13, 14, 15, 16,...",153,10,6,5,2,5,2,1,7,5,5,8,7,5,"[2, 1, 3, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0]",9,0.60,0.88,"[153, 10, 6, 5, 2, 5, 2, 1, 7, 5, 5, 8, 7, 5, 9]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3268499,"[8, 9, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22,...",260,17,5,0,2,4,4,5,4,3,1,7,8,6,"[2, 3, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0]",7,0.47,0.88,"[260, 17, 5, 0, 2, 4, 4, 5, 4, 3, 1, 7, 8, 6, 6]"
3268500,"[8, 9, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22,...",261,17,5,0,2,3,5,5,4,3,1,8,7,5,"[2, 3, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0]",7,0.47,0.88,"[261, 17, 5, 0, 2, 3, 5, 5, 4, 3, 1, 8, 7, 5, 6]"
3268501,"[8, 9, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22,...",262,17,5,0,2,3,5,5,4,3,1,7,8,6,"[2, 3, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0]",8,0.53,0.88,"[262, 17, 5, 0, 2, 3, 5, 5, 4, 3, 1, 7, 8, 6, 6]"
3268502,"[8, 9, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22,...",263,17,5,0,2,3,5,5,3,2,0,8,7,6,"[2, 3, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0]",8,0.53,0.88,"[263, 17, 5, 0, 2, 3, 5, 5, 3, 2, 0, 8, 7, 6, 5]"
3268503,"[8, 9, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22,...",264,17,4,0,2,3,5,5,4,3,1,7,8,5,"[2, 3, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0]",8,0.53,0.88,"[264, 17, 4, 0, 2, 3, 5, 5, 4, 3, 1, 7, 8, 5, 6]"

In [201]:
lotofacil['soma_jogos'].min()

133

In [56]:
# possibilidades_df = data_jogos

In [60]:
%%time
possibilidades = [0, 0, 0, 0, 0,
                  0, 0, 0, 0, 0,
                  0, 0, 0, 0, 0,
                  0, 0, 0, 0, 0,
                  0, 0, 0, 0, 0]

for jogos in possibilidades_df['jogos_ordenados']:
#for jogos in possibilidades_df[(possibilidades_df['soma_jogos'] >= 140) & (possibilidades_df['soma_jogos'] <= 249)]['jogos_ordenados']:
    linha_modificada = jogos.replace("[", "").replace("]", "").replace(" ", "").split(",")    
    jogos = [int(i) for i in linha_modificada]

    possibilidades[jogos[0]-1] += 1
    possibilidades[jogos[1]-1] += 1
    possibilidades[jogos[2]-1] += 1
    possibilidades[jogos[3]-1] += 1
    possibilidades[jogos[4]-1] += 1
    possibilidades[jogos[5]-1] += 1
    possibilidades[jogos[6]-1] += 1
    possibilidades[jogos[7]-1] += 1
    possibilidades[jogos[8]-1] += 1
    possibilidades[jogos[9]-1] += 1
    possibilidades[jogos[10]-1] += 1
    possibilidades[jogos[11]-1] += 1
    possibilidades[jogos[12]-1] += 1
    possibilidades[jogos[13]-1] += 1
    possibilidades[jogos[14]-1] += 1

CPU times: user 2.79 s, sys: 7.92 ms, total: 2.8 s
Wall time: 2.84 s

In [61]:
soma_possibilidades = sum(possibilidades)
porcentagem_possibilidades = [x*100 / soma_possibilidades for x in possibilidades]
lista_numero_chance = []
for i, j in zip(range(1,26), porcentagem_possibilidades):
    lista_numero_chance.append((i, round(j, 3)))
    print("Numero {}, Porcentagem {}".format(i, round(j, 3)))
    
vinte_cinco_primeiros_list = sorted(lista_numero_chance, key=lambda tup: tup[1], reverse=True)
print("Ordem dos Numeros")
print(vinte_cinco_primeiros_list[0:5])
print(vinte_cinco_primeiros_list[5:10])
print(vinte_cinco_primeiros_list[10:15])
print(vinte_cinco_primeiros_list[15:20])
print(vinte_cinco_primeiros_list[20:26])

quinze = []
for i in range(0, 16):
    quinze.append(vinte_cinco_primeiros_list[i][0])
print("Jogo de 15")
print(sorted(quinze))
print("Resultado")
print(resultado)

Numero 1, Porcentagem 2.222
Numero 2, Porcentagem 4.128
Numero 3, Porcentagem 3.333
Numero 4, Porcentagem 4.402
Numero 5, Porcentagem 4.402
Numero 6, Porcentagem 4.402
Numero 7, Porcentagem 2.222
Numero 8, Porcentagem 2.222
Numero 9, Porcentagem 3.333
Numero 10, Porcentagem 4.402
Numero 11, Porcentagem 4.128
Numero 12, Porcentagem 4.402
Numero 13, Porcentagem 4.402
Numero 14, Porcentagem 4.402
Numero 15, Porcentagem 4.128
Numero 16, Porcentagem 4.128
Numero 17, Porcentagem 4.128
Numero 18, Porcentagem 4.402
Numero 19, Porcentagem 4.402
Numero 20, Porcentagem 4.402
Numero 21, Porcentagem 4.402
Numero 22, Porcentagem 4.402
Numero 23, Porcentagem 4.402
Numero 24, Porcentagem 4.402
Numero 25, Porcentagem 4.402
Ordem dos Numeros
[(4, 4.402), (5, 4.402), (6, 4.402), (10, 4.402), (12, 4.402)]
[(13, 4.402), (14, 4.402), (18, 4.402), (19, 4.402), (20, 4.402)]
[(21, 4.402), (22, 4.402), (23, 4.402), (24, 4.402), (25, 4.402)]
[(2, 4.128), (11, 4.128), (15, 4.128), (16, 4.128), (17, 4.128)]
[(3, 3.333), (9, 3.333), (1, 2.222), (7, 2.222), (8, 2.222)]
Jogo de 15
[2, 4, 5, 6, 10, 12, 13, 14, 18, 19, 20, 21, 22, 23, 24, 25]
Resultado
[2, 4, 5, 7, 9, 12, 13, 14, 15, 18, 19, 21, 22, 23, 24]

In [80]:
import random

def pick_random_right_game(resultado, vinte_cinco_primeiros_list, first_row, 
                           second_row, third_row, fourth_row, fifth_row):
    counter_combinations = 0
    first = 0
    while(first != resultado):    
        counter_combinations += 1
        first = random.sample(vinte_cinco_primeiros_list[0:5], first_row)
        first = [x[0] for x in first]

        second = random.sample(vinte_cinco_primeiros_list[5:10], second_row)
        second = [x[0] for x in second]

        third = random.sample(vinte_cinco_primeiros_list[10:15], third_row)
        third = [x[0] for x in third]

        fourth = random.sample(vinte_cinco_primeiros_list[15:20], fourth_row)
        fourth = [x[0] for x in fourth]

        fifth = random.sample(vinte_cinco_primeiros_list[20:25], fifth_row)
        fifth = [x[0] for x in fifth]

        first = first + second + third + fourth + fifth
        first = sorted(first)
    return [first, counter_combinations] 

lista_game_counter = pick_random_right_game(resultado, vinte_cinco_primeiros_list, 3, 4, 4, 2, 2)
print(lista_game_counter[0])
print(lista_game_counter[1])

[2, 4, 5, 7, 9, 12, 13, 14, 15, 18, 19, 21, 22, 23, 24]
7474

In [31]:
numero_combinacoes = [37, 1727, 3118, 4013, 8988,
                      9495, 10371, 12727, 23264, 24181, 
                      33707, 41601, 42963, 45668, 47471,
                      50632, 51713]

[24, 23, 22, 21, 19, 18, 15, 14, 13, 12, 9, 7, 5, 4, 2]

In [86]:
def select_game_at_random(counter_combinations, vinte_cinco_primeiros_list, first_row, 
                           second_row, third_row, fourth_row, fifth_row):

    while(counter_combinations > 0):
        counter_combinations -= 1
        
        first = random.sample(vinte_cinco_primeiros_list[0:5], first_row)
        first = [x[0] for x in first]

        second = random.sample(vinte_cinco_primeiros_list[5:10], second_row)
        second = [x[0] for x in second]

        third = random.sample(vinte_cinco_primeiros_list[10:15], third_row)
        third = [x[0] for x in third]

        fourth = random.sample(vinte_cinco_primeiros_list[15:20], fourth_row)
        fourth = [x[0] for x in fourth]

        fifth = random.sample(vinte_cinco_primeiros_list[20:25], fifth_row)
        fifth = [x[0] for x in fifth]

        first = first + second + third + fourth + fifth
        first = sorted(first)
    return first

counter_combinations = 10371
game = select_game_at_random(counter_combinations, vinte_cinco_primeiros_list, 3, 4, 4, 2, 2)
print(game)

[1, 4, 5, 9, 12, 13, 15, 17, 18, 19, 20, 21, 22, 23, 25]

In [49]:
data_jogos[['sorteio_sem_sair_resultados', 'sorteio_sem_sair_resultados_sum', 'sorteio_sem_sair_resultados_mean',
           'sorteio_sem_sair_resultados_std', 'jogos_ordenados']].iloc[-10:]

,sorteio_sem_sair_resultados,sorteio_sem_sair_resultados_sum,sorteio_sem_sair_resultados_mean,sorteio_sem_sair_resultados_std,jogos_ordenados
3268750,"[1, 0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",4,0.27,0.57,"[10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 2..."
3268751,"[1, 0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",4,0.27,0.57,"[10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 2..."
3268752,"[1, 0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",4,0.27,0.57,"[10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 2..."
3268753,"[1, 0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",4,0.27,0.57,"[10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 2..."
3268754,"[1, 0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",4,0.27,0.57,"[10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 2..."
3268755,"[1, 0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",4,0.27,0.57,"[10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 2..."
3268756,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",3,0.20,0.54,"[10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 2..."
3268757,"[1, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",4,0.27,0.57,"[10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2..."
3268758,"[1, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",4,0.27,0.57,"[10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2..."
3268759,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",3,0.20,0.54,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2..."

In [50]:
%%time
data_jogos['resultados'] = list(map(resultado_jogo, data_jogos['soma_jogos'], data_jogos['media_jogos'], 
                                   data_jogos['desvio_padrao_jogos'],
                              data_jogos['entre_1_e_5'], data_jogos['entre_6_e_10'], data_jogos['entre_11_e_15'],
                              data_jogos['entre_16_e_20'], data_jogos['entre_21_e_25'], data_jogos['qtd_primos'],
                              data_jogos['qtd_fibonacci'], data_jogos['qtd_fibonacci_primo'],
                                   data_jogos['qtd_numeros_pares'],
                              data_jogos['qtd_numeros_impares'], data_jogos['qtd_divisivel_tres'], 
                                   data_jogos['sorteio_sem_sair_resultados_sum']))

CPU times: user 8.73 s, sys: 240 ms, total: 8.97 s
Wall time: 8.97 s

In [201]:
# soma, media, desvio padrao, entre numeros, primos, fibonacci, primos e fibo, pares, impares, divisivel_3
data_jogos['resultados']

0            [120, 8, 4, 5, 5, 5, 0, 0, 7, 6, 5, 7, 8, 5, 7]
1            [121, 8, 4, 5, 5, 4, 1, 0, 7, 6, 5, 8, 7, 4, 7]
2            [122, 8, 4, 5, 5, 4, 1, 0, 8, 6, 5, 7, 8, 4, 7]
3            [123, 8, 4, 5, 5, 4, 1, 0, 7, 6, 5, 8, 7, 5, 8]
4            [124, 8, 4, 5, 5, 4, 1, 0, 8, 6, 5, 7, 8, 4, 7]
                                 ...
3268755     [266, 17, 4, 0, 1, 4, 5, 5, 5, 2, 1, 7, 8, 5, 9]
3268756    [267, 17, 4, 0, 1, 4, 5, 5, 4, 1, 0, 8, 7, 5, 11]
3268757    [268, 17, 4, 0, 1, 4, 5, 5, 5, 2, 1, 7, 8, 4, 11]
3268758    [269, 17, 4, 0, 1, 4, 5, 5, 4, 2, 1, 8, 7, 5, 11]
3268759    [270, 18, 4, 0, 0, 5, 5, 5, 5, 2, 1, 7, 8, 5, 11]
Name: resultados, Length: 3268760, dtype: object

In [51]:
# soma, media, desvio padrao, entre numeros, primos, fibonacci, primos e fibo, pares, impares, divisivel_3
lotofacil['resultados'].iloc[-10:]

2239    [181, 12, 6, 3, 3, 4, 4, 1, 7, 3, 3, 6, 9, 6, ...
2240    [213, 14, 7, 2, 4, 2, 3, 4, 5, 5, 3, 6, 9, 6, ...
2241    [202, 13, 6, 3, 3, 2, 4, 3, 5, 4, 2, 7, 8, 4, ...
2242    [214, 14, 6, 2, 3, 3, 4, 3, 5, 4, 2, 7, 8, 5, ...
2243    [197, 13, 6, 2, 4, 4, 2, 3, 5, 4, 2, 6, 9, 4, ...
2244    [221, 14, 7, 2, 3, 2, 3, 5, 6, 5, 3, 8, 7, 4, ...
2245    [167, 11, 6, 4, 3, 5, 2, 1, 6, 5, 4, 8, 7, 4, ...
2246    [201, 13, 7, 2, 5, 1, 4, 3, 5, 3, 2, 8, 7, 6, ...
2247    [169, 11, 6, 3, 4, 4, 2, 2, 7, 4, 3, 8, 7, 2, ...
2248    [245, 16, 6, 1, 1, 4, 4, 5, 5, 2, 1, 8, 7, 6, ...
Name: resultados, dtype: object

In [52]:
data_jogos[['soma_jogos','media_jogos','desvio_padrao_jogos','entre_1_e_5', 'entre_6_e_10',
           'entre_11_e_15', 'entre_16_e_20', 'entre_21_e_25', 
           'qtd_primos', 'qtd_fibonacci', 'qtd_fibonacci_primo', 'qtd_numeros_pares', 
           'qtd_numeros_impares', 'qtd_divisivel_tres', 'sorteio_sem_sair_resultados_sum',
           'sorteio_sem_sair_resultados_mean', 'sorteio_sem_sair_resultados_std']].corr().style.background_gradient(cmap='coolwarm')

In [2]:
%%time
# 0 soma (170 - 189 e 200 - 220)
# 1 media (11 - 14)
# 2 desvio padrao (6, 7 e 8)
# 3 entre numeros 1 e 5 (2, 3 e 4)
# 4 entre numeros 6 e 10 (2, 3, 4, 5)
# 5 entre numeros 11 e 15 (2, 3, 4)
# 6 entre numeros 16 e 20 (2, 3, 4)
# 7 entre numeros 21 e 25 (2, 3, 4)
# 8 primos (4, 5, 6, 7)
# 9 fibonacci (3,4,5)
# 10 primos e fibo (2, 3, 4)
# 11 pares (6, 7, 8)
# 12 impares (7 , 8 , 9)
# 13 divisivel_3 (3, 4, 5, 6)
# 14 sem sair 16 dias de sum

def get_games(df: pd.DataFrame) -> list:
    index = df.index
    sem_16 = []
    soma = []
    mean = []
    std = []
    one_five = []
    six_ten = []
    eleven_fifteen = []
    sixteen_twenty = []
    tweone_twefive = []
    prime = []
    fibo = []
    prime_fibo = []
    odds = []
    even = []
    div_3 = []
    final = []
    
        
    for sorteios in index:
        if (df['resultados'][sorteios][14] == 19):
            sem_16.append(sorteios)
    for primo_fibo in sem_16:
        if (df['resultados'][primo_fibo][10] >= 2) and (df['resultados'][primo_fibo][10] <= 4):
            div_3.append(primo_fibo)
    for n in div_3:
        if (df['resultados'][n][13] >= 3) and (df['resultados'][n][13] <= 6):
            one_five.append(n)
    for n in one_five:
        if (df['resultados'][n][3] >= 2) and (df['resultados'][n][3] <= 4):
            soma.append(n)
    for n in soma:
        if ((df['resultados'][n][0] >= 170) and (df['resultados'][n][0] <= 189) or \
            (df['resultados'][n][0] >= 200) and (df['resultados'][n][0] <= 220)):
            mean.append(n)
    for n in mean:
        if (df['resultados'][n][1] >= 11) and (df['resultados'][n][1] <= 14):
            std.append(n)
    for n in std:
        if (df['resultados'][n][2] >= 6) and (df['resultados'][n][2] <= 8):
            six_ten.append(n)
    for n in six_ten:
        if (df['resultados'][n][4] >= 2) and (df['resultados'][n][4] <= 5):
            eleven_fifteen.append(n)
    for n in eleven_fifteen:
        if (df['resultados'][n][5] >= 2) and (df['resultados'][n][5] <= 4):
            sixteen_twenty.append(n)
    for n in sixteen_twenty:
        if (df['resultados'][n][6] >= 2) and (df['resultados'][n][6] <= 4):
            tweone_twefive.append(n)
    for n in tweone_twefive:
        if (df['resultados'][n][7] >= 2) and (df['resultados'][n][7] <= 4):
            prime.append(n)
    for n in prime:
        if (df['resultados'][n][8] >= 4) and (df['resultados'][n][8] <= 7):
            fibo.append(n)
    for n in fibo:
        if (df['resultados'][n][9] >= 3) and (df['resultados'][n][9] <= 5):
            odds.append(n)
    for n in odds:
        if (df['resultados'][n][11] >= 6) and (df['resultados'][n][11] <= 8):
            even.append(n)
    for n in even:
        if (df['resultados'][n][12] >= 7) and (df['resultados'][n][12] <= 9):
            final.append(n)

    return final

lista_final_2 = get_games(data_jogos)

NameError: name 'data_jogos' is not defined

In [213]:
len(lista_final_2)

1081

In [227]:
data_jogos[data_jogos['jogos_ordenados'] == [2,5,6,7,9,11,12,14,15,17,19,21,22,23,24]]

ValueError: Lengths must match to compare

In [237]:
for i in range(len(list(data_jogos['jogos_ordenados']))):
    if data_jogos['jogos_ordenados'][i] == [2,5,6,7,9,11,12,14,15,17,19,21,22,23,24]:
        print(i)

2687582

In [239]:
data_jogos.iloc[2687582]

jogos_ordenados                     [2, 5, 6, 7, 9, 11, 12, 14, 15, 17, 19, 21, 22...
soma_jogos                                                                        207
media_jogos                                                                        13
desvio_padrao_jogos                                                                 6
entre_1_e_5                                                                         2
entre_6_e_10                                                                        3
entre_11_e_15                                                                       4
entre_16_e_20                                                                       2
entre_21_e_25                                                                       4
qtd_primos                                                                          7
qtd_fibonacci                                                                       3
qtd_fibonacci_primo                                                                 2
qtd_numeros_pares                                                                   6
qtd_numeros_impares                                                                 9
qtd_divisivel_tres                                                                  6
resultados                           [207, 13, 6, 2, 3, 4, 2, 4, 7, 3, 2, 6, 9, 6, 7]
sorteio_sem_sair_resultados             [0, 0, 0, 1, 2, 0, 0, 2, 0, 0, 0, 0, 0, 1, 1]
sorteio_sem_sair_resultados_sum                                                     7
sorteio_sem_sair_resultados_mean                                                 0.47
sorteio_sem_sair_resultados_std                                                  0.72
Name: 2687582, dtype: object

In [133]:
data_jogos['resultados'][0]

[120, 8, 4, 5, 5, 5, 0, 0, 7, 6, 5, 7, 8, 5]

In [136]:
len(lista_final)

672577

In [53]:
data_jogos.to_csv("todos_jogos_stats.csv")

In [54]:
lotofacil.to_csv("lotofacil_stats.csv")

In [66]:
data_jogos[data_jogos['sorteio_sem_sair_resultados_std'] < 0.6]

,jogos_ordenados,soma_jogos,media_jogos,desvio_padrao_jogos,entre_1_e_5,entre_6_e_10,entre_11_e_15,entre_16_e_20,entre_21_e_25,qtd_primos,qtd_fibonacci,qtd_fibonacci_primo,qtd_numeros_pares,qtd_numeros_impares,qtd_divisivel_tres,sorteio_sem_sair_resultados,sorteio_sem_sair_resultados_sum,sorteio_sem_sair_resultados_mean,sorteio_sem_sair_resultados_std,resultados
274928,"[1, 2, 3, 4, 6, 11, 12, 14, 15, 16, 17, 18, 19...",181,12,6,4,1,4,4,2,6,4,3,8,7,6,"[1, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",4,0.27,0.57,"[181, 12, 6, 4, 1, 4, 4, 2, 6, 4, 3, 8, 7, 6, 4]"
274929,"[1, 2, 3, 4, 6, 11, 12, 14, 15, 16, 17, 18, 19...",182,12,7,4,1,4,4,2,7,4,3,7,8,6,"[1, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",4,0.27,0.57,"[182, 12, 7, 4, 1, 4, 4, 2, 7, 4, 3, 7, 8, 6, 4]"
274930,"[1, 2, 3, 4, 6, 11, 12, 14, 15, 16, 17, 18, 19...",183,12,7,4,1,4,4,2,6,4,3,8,7,7,"[1, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",4,0.27,0.57,"[183, 12, 7, 4, 1, 4, 4, 2, 6, 4, 3, 8, 7, 7, 4]"
274931,"[1, 2, 3, 4, 6, 11, 12, 14, 15, 16, 17, 18, 19...",184,12,7,4,1,4,4,2,6,4,3,7,8,6,"[1, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",4,0.27,0.57,"[184, 12, 7, 4, 1, 4, 4, 2, 6, 4, 3, 7, 8, 6, 4]"
274932,"[1, 2, 3, 4, 6, 11, 12, 14, 15, 16, 17, 18, 19...",183,12,7,4,1,4,4,2,7,3,3,8,7,5,"[1, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",4,0.27,0.57,"[183, 12, 7, 4, 1, 4, 4, 2, 7, 3, 3, 8, 7, 5, 4]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3268755,"[10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 2...",266,17,4,0,1,4,5,5,5,2,1,7,8,5,"[1, 0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",4,0.27,0.57,"[266, 17, 4, 0, 1, 4, 5, 5, 5, 2, 1, 7, 8, 5, 4]"
3268756,"[10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 2...",267,17,4,0,1,4,5,5,4,1,0,8,7,5,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",3,0.20,0.54,"[267, 17, 4, 0, 1, 4, 5, 5, 4, 1, 0, 8, 7, 5, 3]"
3268757,"[10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2...",268,17,4,0,1,4,5,5,5,2,1,7,8,4,"[1, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",4,0.27,0.57,"[268, 17, 4, 0, 1, 4, 5, 5, 5, 2, 1, 7, 8, 4, 4]"
3268758,"[10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2...",269,17,4,0,1,4,5,5,4,2,1,8,7,5,"[1, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",4,0.27,0.57,"[269, 17, 4, 0, 1, 4, 5, 5, 4, 2, 1, 8, 7, 5, 4]"
3268759,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2...",270,18,4,0,0,5,5,5,5,2,1,7,8,5,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",3,0.20,0.54,"[270, 18, 4, 0, 0, 5, 5, 5, 5, 2, 1, 7, 8, 5, 3]"

In [74]:
lotofacil.iloc[-20:]['soma_jogos']

2229    191
2230    196
2231    206
2232    179
2233    206
2234    203
2235    185
2236    224
2237    174
2238    195
2239    181
2240    213
2241    202
2242    214
2243    197
2244    221
2245    167
2246    201
2247    169
2248    245
Name: soma_jogos, dtype: int64

In [ ]:
fazer a correlacao entre as estatisticas dos possiveis jogos com o resultado final